<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
         <bean id="addr1" class="com.sp.Student.Address">
         <constructor-arg value="500" />
         <constructor-arg value="Pune" />
         <constructor-arg value="410503" />
        </bean> 
        
         <bean id="addr2" class="com.sp.Student.Address">
         <constructor-arg value="605" />
         <constructor-arg value="Satara" />
         <constructor-arg value="411703" />
        </bean> 
        
         <bean id="stud1" class="com.sp.Student.Student">
        <constructor-arg value="Krishna" />
         <constructor-arg value="101" />
         <constructor-arg ref="addr1"/>
        </bean>  
        
         <bean id="stud2" class="com.sp.Student.Student">
        <constructor-arg value="Radha" />
         <constructor-arg value="102" />
         <constructor-arg ref="addr1"/>
        </bean>  
        
        
         <bean id="stud3" class="com.sp.Student.Student">
         <constructor-arg value="Ganesh" />
         <constructor-arg value="103" />
         <constructor-arg ref="addr2"/>
        </bean>  
        </beans>